* {
  padding: 0;
  margin: 0;
  /* overflow-y: hidden; */
}
/* 
  position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: max-content;
    align-items: center; */

/* ul{
        display: flex;
        flex-direction: row;
        align-items: center;
        width: max-content;
        background-color: aquamarine;
        

    }
    nav ul li {
        display:inline-flex;
        flex-direction: row;
        position: relative;
        margin: 5px 1vw;
        

        
    } */

/* .travelBgImg {
  width: 40vw;
  float: right;
} */

.nav-background {
  position: absolute;
  top: 0;
  right: 0;
  width: 70%;
  height: 100%;
  background-image: url("/Images/Traveller\ Image\ cream\ Background.png");
  /* background-size: cover; */
  background-repeat: no-repeat;
  background-position: top right;
  z-index: -2;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 3;
  overflow-y: hidden;
}

.logo {
  margin: 15px 20px 5px 30px;
}
.logoImg {
  /* width: 120%; */
  cursor: pointer;
}
#Logo_Button {
  background-color: transparent;
  border: none;
}
.menu {
  display: flex;
  list-style: none;
  padding: 10px;
  margin: 10px 50px;
}
.menu button {
  text-decoration: none;
  border: 1.5px solid black;
  padding: 4px 10px;
  background-color: transparent;
  font-size: 19px;
  cursor: pointer;
}

.menu li {
  margin-right: 10px;
  padding: 0px 20px;
  margin: 2px 5px;
  font-size: 22px;
  cursor: pointer;
}

#Signup,
#Login {
  display: none;
  position: fixed;
  padding: 6vh;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 10000000px #000;
  width: 60%;
  height: 50%;
  justify-content: center;
  align-items: baseline;
  text-align: center;
  padding-top: 180px;
  margin: 15px 0px;
  background-color: white;
  background-image: url("/Images/Login\ Background\ Image.avif");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 20px;
  font-size: 30px;
  letter-spacing: 3px;
  color: #181e4b;
}
#Submit_Login,
#Submit_Signup {
  cursor: pointer;
  width: 120px;
  height: 30px;
  font-size: large;
  border-radius: 3px;
  border: 2px solid black;
}
#username_signup,
#password_signup,
#username_login,
#password_login {
  height: 25px;
  border: 2px solid black;
  border-radius: 3px;
}

#Logout {
  display: none;
}

/*  TRAVELLER SECTION */
.TravellerGirl {
  position: absolute;
  margin-top: 60px;
  margin-right: 50px;
  top: 0;
  right: 0;
  width: 765px;
  height: 764px;
  background-image: url("/Images/Traveller\ Image.jpg");
  /* background-size: cover; */
  background-repeat: no-repeat;
  background-position: top right;
  z-index: -1;
}
.Intro {
  padding: 10vh 15vw;
}
#Tab::after {
  content: "\a";
  white-space: pre;
}

.PreHeading {
  color: #df6951;
  font-size: 20px;
  font-family: Poppins;
  font-weight: 700;
  text-transform: uppercase;
}
.Travell_Heading {
  color: var(--1st, #181e4b);
  font-size: 6.2vw;
  font-family: Volkhov;
  font-weight: 700;
  line-height: 89px;
  letter-spacing: -3.36px;
  width: 545px;
  height: 267px;
}
.Travell_Description {
  color: #5e6282;
  font-size: 16px;
  font-family: Poppins;
  font-weight: 500;
  line-height: 30px;
}

.FindMore {
  width: 170px;
  height: 40px;
  flex-shrink: 0;
  border-radius: 10px;
  background: var(--yellow, #f1a501);
  box-shadow: 0px 20px 35px 0px rgba(241, 165, 1, 0.15);
  color: var(--white, #fff);
  font-size: 18px;
  font-family: Google Sans;
  font-weight: 500;
  /* justify-content:space-evenly; */
  padding-top: 15px;
  text-align: center;
}
.Youtube {
  text-decoration: none;
  display: flex;
  height: fit-content;
  background-color: transparent;
  border: none;
  height: max-content;
  align-items: center;
  /* justify-content:space-around; */
  cursor: pointer;
}

/*    S E R V I C E S */

.Category {
  margin-top: 100px;
  color: var(--textclr, #5e6282);
  text-align: center;
  font-size: 18px;
  font-family: Poppins;
  font-weight: 600;
  margin-bottom: 20px;
}
.Best_Services {
  color: var(--3rd, #14183e);
  text-align: center;
  font-size: 50px;
  font-family: Volkhov;
  font-weight: 700;
  text-transform: capitalize;
  margin-bottom: 30px;
}

.service {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.div {
  display: inline;
  text-align: center;
  width: 200px;
  height: 220px;
  margin: 20px 50px;
  border-radius: 36px;
  background: var(--white, #fff);
  box-shadow: 0px 1.8518518209457397px 3.1481480598449707px 0px rgba(0, 0, 0, 0),
    0px 8.148148536682129px 6.518518447875977px 0px rgba(0, 0, 0, 0.01),
    0px 20px 13px 0px rgba(0, 0, 0, 0.01),
    0px 38.51852035522461px 25.481481552124023px 0px rgba(0, 0, 0, 0.01),
    0px 64.81481170654297px 46.85185241699219px 0px rgba(0, 0, 0, 0.02),
    0px 100px 80px 0px rgba(0, 0, 0, 0.02);
}
div p {
  color: var(--textclr, #5e6282);
  text-align: center;
  font-size: 16px;
  font-family: Poppins;
  font-weight: 500;
  line-height: 26px;
  margin: 20px 0px;
}
div h5 {
  color: var(--text-heading-color, #1e1d4c);
  text-align: center;
  font-size: 20px;
  font-family: Open Sans;
  font-weight: 600;
  margin: 15px 0px;
}
.Services_Img {
  width: 92px;
  height: 78px;
  flex-shrink: 0;
}

/* D E S T I N A T I O N S */
.Top_Selling {
  margin-top: 100px;
  color: var(--textclr, #5e6282);
  text-align: center;
  font-size: 18px;
  font-family: Poppins;
  font-weight: 600;
  margin-bottom: 10px;
}
.Top_Destinations {
  color: var(--3rd, #14183e);
  text-align: center;
  font-size: 50px;
  font-family: Volkhov;
  font-weight: 700;
  text-transform: capitalize;
  margin-bottom: 30px;
}
.Countries {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.places {
  width: 314px;
  height: 457px;
  flex-shrink: 0;
  border-radius: 10px;
  cursor: pointer;
}
.City :hover {
  width: 600px;
  height: 650px;
  transition: 500ms;
}
.tab {
  display: inline-block;
  margin-left: 150px;
}
.City {
  margin: 5px 20px;
}

.City h5 {
  color: var(--textclr, #5e6282);
  font-size: 18px;
  font-family: Poppins;
  font-weight: 500;
}
.City h6 {
  color: var(--textclr, #5e6282);
  font-size: 16px;
  font-family: Poppins;
  font-weight: 500;
}
.arrow_city {
  width: 20px;
  height: 20px;
  flex-shrink: 0;
}



/*  N E X T    T R I P */




.Next_Trip{
  margin-top: 100px;
  display: flex;
  flex-direction: row;
}
.Book h4 {
  color: var(--textclr, #5e6282);
  font-size: 18px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.Book {
  float: inline-start;
  margin-left: 160px;
}

.Book h1 {
  color: var(--3rd, #14183e);
  font-size: 50px;
  font-family: Volkhov;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: capitalize;
}
.Book .Next {
  display: inline;
  float: left;
  margin-right: 15px;
  height: 60px;
}
.Book h3 {
  color: var(--textclr, #5e6282);
  font-size: 16px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 700;
  /* line-height: 124.5%; */
  /* display: flex; */
}
.Book h5 {
  color: var(--textclr, #5e6282);
  font-size: 16px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 400;
  text-align: start;
  /* line-height: 124.5%; */
  /* display: inline-flex; */
  /* float: left; */
  /* text-align: justify; */
}
.Cate {
  display: flex;
  flex-direction: column;
  margin: 30px 20px;
}

.Choose,
.Payment,
.Reach {
  margin: 10px 5px;
}
/* 
#space::after {
  content: "\a";
  white-space: pre;
} */
.tripGreece {
  float: right;
  width: 340px;
  height: 300px;
  flex-shrink: 0;
  margin-left: 150px;
  margin-top: 100px;
  border-radius: 26px;
  background: var(--white, #fff);
  box-shadow: 0px 1.8518518209457397px 3.1481480598449707px 0px rgba(0, 0, 0, 0),
    0px 8.148148536682129px 6.518518447875977px 0px rgba(0, 0, 0, 0.01),
    0px 20px 13px 0px rgba(0, 0, 0, 0.01),
    0px 38.51852035522461px 25.481481552124023px 0px rgba(0, 0, 0, 0.01),
    0px 64.81481170654297px 46.85185241699219px 0px rgba(0, 0, 0, 0.02),
    0px 100px 80px 0px rgba(0, 0, 0, 0.02);
}

.triptoGreece {
  width: 321px;
  height: 161px;
  flex-shrink: 0;
  border-radius: 24px;

}
.tripGreece h3 {
  color: var(--black, #080809);
  font-size: 18px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.27px;
}

.tripGreece h5 {
  color: var(--text-2, #84829a);
  font-size: 16px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;

  letter-spacing: -0.08px;
}
.tripGreece h6 {
  color: var(--text-2, #84829a);
  font-size: 16px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  letter-spacing: -0.32px;
}
.tripRome {
  width: 263px;
  height: 129px;
  flex-shrink: 0;
  border-radius: 18px;
  margin-left: 190px;
  margin-top: -70px;
  /* background: var(--white, #fff); */
  background-color: white;
  opacity: 1;
  box-shadow: 0px 1.8518518209457397px 3.1481480598449707px 0px rgba(0, 0, 0, 0),
    0px 8.148148536682129px 6.518518447875977px 0px rgba(0, 0, 0, 0.01),
    0px 20px 13px 0px rgba(0, 0, 0, 0.01),
    0px 38.51852035522461px 25.481481552124023px 0px rgba(0, 0, 0, 0.01),
    0px 64.81481170654297px 46.85185241699219px 0px rgba(0, 0, 0, 0.02),
    0px 100px 80px 0px rgba(0, 0, 0, 0.02);
}
.triptoRome{
  /* align-items:center; */
  justify-content: space-around;
  border-radius: 30px;
  margin-top: 40px;
  margin-left: 20px;
}
.RomeContent{
  float: right;
  /* align-self:safe; */
}

.tripRome h5 {
  color: var(--text-2, #8279e9);
  font-size: 14px;
  font-family: Poppins;
  font-style: normal;
  letter-spacing: -0.49px;
  text-align: start;
}
.tripRome h2 {
  color: var(--black, #080809);
  font-size: 18px;
  font-family: Poppins;
  font-style: normal;
  letter-spacing: -0.27px;
}
.tripRome h4 {
  color: #8a79df;
  font-size: 14px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  letter-spacing: -0.77px;
}

/*   R E S P O N S I V E   D E S I G N */

@media screen and (max-width: 768px) {
  * {
    overflow-x: hidden;
  }

  #Signup,
  #Login {
    display: none;
    position: fixed;
    padding: 6vh;
    top: 50%;
    left: 45%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background-color: bisque;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 15px 0px;
    font-size: larger;
    background-image: none;
  }
  .menu {
    flex-direction: column;
    position: relative;
    background-color: antiquewhite;
    border-radius: 15px;
  }
  .logo {
    position: relative;
    left: 25%;
  }
  .logoImg {
    width: 100%;
  }

  nav {
    display: inline;
    z-index: 2;
  }

  .menu li {
    margin-right: 0;
    margin-bottom: 15px;
    position: relative;
    align-self: center;
  }

  .nav-background {
    display: none;
  }

  /* Traveller Intro */
  .TravellerGirl {
    display: none;
  }
  .Intro {
    padding-left: 20px;
    width: min-content;
    justify-content: center;
    align-items: center;
    /* text-align: center; */
    width: 360px;
  }

  #Tab::after {
    content: none;
  }

  .Travell_Heading {
    letter-spacing: 3px;
    line-height: normal;
    font-size: 45px;
  }

  .Travell_Description {
    margin-top: -100px;
    margin-left: -10px;
  }

  /* B E S T   S E R V I C E S */
  .service {
    display: flex;
    flex-direction: column;
  }

  .div {
    height: 250px;
  }
  .Best_Services {
    margin-left: 30px;
  }

  /*  T O P    D E S T I N A T I O N S */
  .Countries {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  hr.new1 {
    border-top: 1px solid black;
  }
  .City {
    /* margin-left: 50px; */
  }
  .Top_Destinations {
    font-size: 40px;
    align-self: center;
    justify-content: center;
  }
}
