* {
  padding: 0;
  margin: 0;
}
body::-webkit-scrollbar {
  display: none;
}

#ScrollTop {
  align-items: center;
  height: 50px;
  width: 50px;
  position: fixed;
  left: 95%;
  top: 90%;
  display: none;
  z-index: 100;
  cursor: pointer;
}

.nav-background {
  position: absolute;
  top: 0;
  right: 0;
  width: 70%;
  height: 100%;
  background-image: url("/Images/Traveller\ Image\ cream\ Background.png");
  background-repeat: no-repeat;
  background-position: top right;
  z-index: -2;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 3;
  overflow-y: hidden;
}

.logo {
  margin: 15px 20px 5px 30px;
}
.logoImg {
  cursor: pointer;
}
#Logo_Button {
  background-color: transparent;
  border: none;
}
.menu {
  display: flex;
  list-style: none;
  padding: 10px;
  margin: 10px 50px;
}
.menu button {
  text-decoration: none;
  border: 1.5px solid black;
  padding: 4px 10px;
  background-color: transparent;
  font-size: 19px;
  cursor: pointer;
}

.menu li {
  margin-right: 10px;
  padding: 0px 20px;
  margin: 2px 5px;
  font-size: 22px;
  cursor: pointer;
}

#Nolang {
  position: relative;
  float: right;
  margin-right: 20px;
  margin-top: -10px;
  display: none;
  height: 30px;
  width: 200px;
}

.Hotel{
  text-decoration: none;
  color: #000;
}



/*********************  S I G N  U P ******************** */



#Signup,
#Login {
  display: none;
  position: fixed;
  padding: 6vh;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 10000000px #000;
  width: 60%;
  height: 50%;
  justify-content: center;
  align-items: baseline;
  text-align: center;
  padding-top: 180px;
  margin: 15px 0px;
  background-color: white;
  background-image: url("/Images/Login\ Background\ Image.avif");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 20px;
  font-size: 30px;
  letter-spacing: 3px;
  color: #181e4b;
}
#Submit_Login,
#Submit_Signup {
  cursor: pointer;
  width: 120px;
  height: 30px;
  font-size: large;
  border-radius: 3px;
  position: relative;
  top: -20px;
  border: 2px solid black;
}

.Cross{
  width: 30px;
  height: 30px;
  float: right;
  position: relative;
  top: -190px;
  cursor: pointer;
}
#username_signup,
#password_signup,
#username_login,
#password_login {
  height: 25px;
  border: 2px solid black;
  border-radius: 3px;
}

#Logout {
  display: none;
}


/*********************  TRAVELLER SECTION *********************/



.TravellerGirl {
  position: absolute;
  margin-top: 60px;
  margin-right: 50px;
  top: 0;
  right: 0;
  width: 765px;
  height: 764px;
  background-image: url("/Images/Traveller\ Image.jpg");
  background-repeat: no-repeat;
  background-position: top right;
  z-index: -1;
}

.plane1{
  position: relative;
  top: 45vh;
  left: 52vw;
}
.plane2{
  position: relative;
  top: 20vh;
  left: 75vw;
  margin-right: 400px;
  margin-top: 200px;
}
.Intro {
  padding: 10vh 15vw;
}
#Tab::after {
  content: "\a";
  white-space: pre;
}
.Traveller{
  margin-top: -350px;
}

.PreHeading {
  color: #df6951;
  font-size: 20px;
  font-family: Poppins;
  font-weight: 700;
  text-transform: uppercase;
}
.Travell_Heading {
  color: var(--1st, #181e4b);
  font-size: 6.2vw;
  font-family: Volkhov;
  font-weight: 700;
  line-height: 89px;
  letter-spacing: -3.36px;
  width: 545px;
  height: 267px;
}
.Travell_Description {
  color: #5e6282;
  font-size: 16px;
  font-family: Poppins;
  font-weight: 500;
  line-height: 30px;
}

.FindMore {
  width: 170px;
  height: 40px;
  flex-shrink: 0;
  border-radius: 10px;
  background: var(--yellow, #f1a501);
  box-shadow: 0px 20px 35px 0px rgba(241, 165, 1, 0.15);
  color: var(--white, #fff);
  font-size: 18px;
  font-family: Google Sans;
  font-weight: 500;
  padding-top: 15px;
  text-align: center;
}
.Youtube {
  text-decoration: none;
  display: flex;
  height: fit-content;
  background-color: transparent;
  border: none;
  height: max-content;
  align-items: center;
  cursor: pointer;
}



/*********************       S E R V I C E S       *********************/



.Category {
  margin-top: 100px;
  color: var(--textclr, #5e6282);
  text-align: center;
  font-size: 18px;
  font-family: Poppins;
  font-weight: 600;
  margin-bottom: 20px;
}
.Best_Services {
  color: var(--3rd, #14183e);
  text-align: center;
  font-size: 50px;
  font-family: Volkhov;
  font-weight: 700;
  text-transform: capitalize;
  margin-bottom: 30px;
}
.Flights {
  z-index: 20;
}
.Flight_Design {
  width: 100px;
  height: 100px;
  flex-shrink: 0;
  border-radius: 30px 0px 10px 0px;
  background: #df6951;
  position: relative;
  left: 7%;
  top: 85px;
}

.service {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.div {
  display: inline;
  text-align: center;
  width: 200px;
  height: 220px;
  margin: 20px 50px;
  border-radius: 36px;
  background: var(--white, #fff);
  box-shadow: 0px 1.8518518209457397px 3.1481480598449707px 0px rgba(0, 0, 0, 0),
    0px 8.148148536682129px 6.518518447875977px 0px rgba(0, 0, 0, 0.01),
    0px 20px 13px 0px rgba(0, 0, 0, 0.01),
    0px 38.51852035522461px 25.481481552124023px 0px rgba(0, 0, 0, 0.01),
    0px 64.81481170654297px 46.85185241699219px 0px rgba(0, 0, 0, 0.02),
    0px 100px 80px 0px rgba(0, 0, 0, 0.02);
}
div p {
  color: var(--textclr, #5e6282);
  text-align: center;
  font-size: 16px;
  font-family: Poppins;
  font-weight: 500;
  line-height: 26px;
  margin: 20px 0px;
}
div h5 {
  color: var(--text-heading-color, #1e1d4c);
  text-align: center;
  font-size: 20px;
  font-family: Open Sans;
  font-weight: 600;
  margin: 15px 0px;
}
.Services_Img {
  width: 92px;
  height: 78px;
  flex-shrink: 0;
}



/*********************     D E S T I N A T I O N S      *********************/



.Top_Selling {
  margin-top: 100px;
  color: var(--textclr, #5e6282);
  text-align: center;
  font-size: 18px;
  font-family: Poppins;
  font-weight: 600;
  margin-bottom: 10px;
}
.Top_Destinations {
  color: var(--3rd, #14183e);
  text-align: center;
  font-size: 50px;
  font-family: Volkhov;
  font-weight: 700;
  text-transform: capitalize;
  margin-bottom: 30px;
}

.Europe{
  z-index: 300;
}

.decor{
position: relative;
left: 1251px;
top: -370px;
z-index: -200;

}
.Countries {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.places {
  width: 314px;
  height: 457px;
  flex-shrink: 0;
  border-radius: 10px;
  cursor: pointer;
}
.City :hover {
  width: 600px;
  height: 650px;
  transition: 500ms;
}
.tab {
  display: inline-block;
  margin-left: 150px;
}
.City {
  margin: 5px 20px;
}

.City h5 {
  color: var(--textclr, #5e6282);
  font-size: 18px;
  font-family: Poppins;
  font-weight: 500;
}
.City h6 {
  color: var(--textclr, #5e6282);
  font-size: 16px;
  font-family: Poppins;
  font-weight: 500;
}
.arrow_city {
  width: 20px;
  height: 20px;
  flex-shrink: 0;
}


/*********************      N E X T    T R I P        *********************/


.Next_Trip {
  margin-top: -120px;
  display: flex;
  flex-direction: row;
}
.Book h4 {
  color: var(--textclr, #5e6282);
  font-size: 18px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.Book {
  float: inline-start;
  margin-left: 160px;
}

.Book h1 {
  color: var(--3rd, #14183e);
  font-size: 50px;
  font-family: Volkhov;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: capitalize;
}
.Book .Next {
  display: inline;
  float: left;
  margin-right: 15px;
  height: 60px;
}
.Book h3 {
  color: var(--textclr, #5e6282);
  font-size: 16px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 700;
}
.Book h5 {
  color: var(--textclr, #5e6282);
  font-size: 16px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 400;
  text-align: start;
}
.Cate {
  display: flex;
  flex-direction: column;
  margin: 30px 20px;
}

.Choose,
.Payment,
.Reach {
  margin: 10px 5px;
}

.tripGreece {
  float: right;
  width: 340px;
  height: 300px;
  flex-shrink: 0;
  margin-left: 150px;
  margin-top: 100px;
  border-radius: 26px;
  background: var(--white, #fff);
  box-shadow: 0px 1.8518518209457397px 3.1481480598449707px 0px rgba(0, 0, 0, 0),
    0px 8.148148536682129px 6.518518447875977px 0px rgba(0, 0, 0, 0.01),
    0px 20px 13px 0px rgba(0, 0, 0, 0.01),
    0px 38.51852035522461px 25.481481552124023px 0px rgba(0, 0, 0, 0.01),
    0px 64.81481170654297px 46.85185241699219px 0px rgba(0, 0, 0, 0.02),
    0px 100px 80px 0px rgba(0, 0, 0, 0.02);
}

.triptoGreece {
  width: 321px;
  height: 161px;
  flex-shrink: 0;
  border-radius: 24px;
}
.tripGreece h3 {
  color: var(--black, #080809);
  font-size: 18px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.27px;
}

.tripGreece h5 {
  color: var(--text-2, #84829a);
  font-size: 16px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  letter-spacing: -0.08px;
}
.tripGreece h6 {
  color: var(--text-2, #84829a);
  font-size: 16px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  letter-spacing: -0.32px;
}
.tripRome {
  width: 263px;
  height: 129px;
  flex-shrink: 0;
  border-radius: 18px;
  margin-left: 190px;
  margin-top: -70px;
  background-color: white;
  opacity: 1;
  box-shadow: 0px 1.8518518209457397px 3.1481480598449707px 0px rgba(0, 0, 0, 0),
    0px 8.148148536682129px 6.518518447875977px 0px rgba(0, 0, 0, 0.01),
    0px 20px 13px 0px rgba(0, 0, 0, 0.01),
    0px 38.51852035522461px 25.481481552124023px 0px rgba(0, 0, 0, 0.01),
    0px 64.81481170654297px 46.85185241699219px 0px rgba(0, 0, 0, 0.02),
    0px 100px 80px 0px rgba(0, 0, 0, 0.02);
}
.triptoRome {
  justify-content: space-around;
  border-radius: 30px;
  margin-top: 40px;
  margin-left: 20px;
}
.RomeContent {
  float: right;
}

.tripRome h5 {
  color: var(--text-2, #8279e9);
  font-size: 14px;
  font-family: Poppins;
  font-style: normal;
  letter-spacing: -0.49px;
  text-align: start;
}
.tripRome h2 {
  color: var(--black, #080809);
  font-size: 18px;
  font-family: Poppins;
  font-style: normal;
  letter-spacing: -0.27px;
}
.tripRome h4 {
  color: #8a79df;
  font-size: 14px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  letter-spacing: -0.77px;
}




/*********************       T E S T I M O N I A L S      *********************/



.PeopleTestimonials {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 100px;
}

.SayAboutUs {
  margin-right: 200px;
}
.SayAboutUs h3 {
  color: var(--textclr, #5e6282);
  font-size: 18px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
}
.SayAboutUs h1 {
  color: var(--3rd, #14183e);
  font-size: 50px;
  font-family: Volkhov;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: capitalize;
  display: inline-block;
}
.Arrow {
  display: inline-block;
  margin-left: 90px;
}

.Arrows {
  width: 25px;
}
.Up,
.Down {
  background-color: transparent;
  cursor: pointer;
  display: inline;
}

#Person1 p,
#Person2 p,
#Person3 p {
  text-align: start;
}

#Person1 h2,
#Person2 h2,
#Person3 h2 {
  color: var(--textclr, #3b3166);
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

#Person1 h4,
#Person2 h4,
#Person3 h4 {
  color: var(--textclr, #565d94);
  font-size: 14px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.PeopleSay {
  float: left;
}
#Person1 {
  display: block;
  width: 400px;
  height: 200px;
}

#Person2 {
  display: none;
  width: 400px;
  height: 200px;
}

#Person3 {
  display: none;
  width: 400px;
  height: 200px;
}
.photo {
  width: 68px;
  height: 68px;
  border-radius: 35px;
}

/*********************       A I R L I N E S        ********************  */

#Airlines {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 150px 200px;
}
.airline {
  width: 130px;
  height: 100px;
  cursor: pointer;
}

/*********************     S U B S C R I B E    *********************/

.Subscribe {
  width: 1170px;
  height: 407px;
  flex-shrink: 0;
  border-radius: 120px 20px 120px 20px;
  background: var(--light-color, #f4f0ff);
  position: absolute;
  margin: 50px 10%;
}

.Subscribe h1 {
  color: var(--textclr, #5d69bd);
  text-align: center;
  font-size: 33px;
  font-style: normal;
  font-weight: 600;
  line-height: 54px;
  margin-top: 50px;
}
.Email {
  position: absolute;
  top: 50%;
  left: 25%;
}

.mail {
  width: 180px;
  height: 68px;
  flex-shrink: 0;
  border-radius: 10px;
  background: var(
    --gradient,
    linear-gradient(180deg, #ff946d 0%, #ff7d68 100%)
  );
  color: var(--white, #fff);
  text-align: center;
  font-size: 17px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  border: none;
  cursor: pointer;
}

#email {
  width: 421px;
  height: 68px;
  flex-shrink: 0;
  border-radius: 10px;
  background: var(--white, #fff);
  border: none;
}

/*********************         F O O T E R    *********************/

footer {
  margin-top: 800px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 100px;
}
.Company,
.Contact,
.More {
  display: flex;
  flex-direction: column;
}
footer h1 {
  color: var(--1st, #181e4b);
  font-size: 44px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
footer h5 {
  color: var(--textclr, #5e6282);
  font-size: 13px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  line-height: 124.5%;
}

footer h2 {
  color: var(--black, #080809);
  font-size: 21px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 700;
  line-height: 124.5%;
  padding-bottom: 20px;
}
footer h4 {
  color: var(--textclr, #5e6282);
  font-size: 18px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  line-height: 124.5%;
  margin: 5px 0px;
}
.social {
  width: 41px;
  height: 41px;
  flex-shrink: 0;
}

footer h3 {
  color: var(--textclr, #5e6282);
  font-size: 20px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  line-height: 124.5%;
  letter-spacing: 0.1px;
}

.store {
  width: 80px;
  height: 30px;
  flex-shrink: 0;
  border-radius: 20px;
}

.RightsReserved {
  text-align: center;
  color: var(--textclr, #5e6282);
  font-size: 14px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  line-height: 124.5%;
  margin-bottom: 50px;
  background-color: #000;
  color: white;
  margin-bottom: 0px;
  height: 25px;
  text-align: center;
  font-size: medium;
}







/* **************************************************************************************************** */
/*********************     R E S P O N S I V E   D E S I G N      *********************/
/* **************************************************************************************************** */




@media screen and (max-width: 768px) {
  * {
    overflow-x: hidden;
    align-items: center;
    align-self: center;
    text-align: center;
  }

  #ScrollTop {
    left: 85%;
  }
  #Login,#Signup{
    background-position: -100px;
  }

  .menu {
    flex-direction: column;
    position: relative;
    background-color: antiquewhite;
    border-radius: 15px;
  }
  .logo {
    position: relative;
  }
  .logoImg {
    width: 100%;
  }

  nav {
    display: inline;
    z-index: 2;
  }

  .menu li {
    margin-right: 0;
    margin-bottom: 15px;
    position: relative;
    align-self: center;
  }

  .nav-background {
    display: none;
  }
  .Cross{
    width: 30px;
    height: 30px;
    float: right;
    position: relative;
    top: -80px;
    left: 15px;
    cursor: pointer;
  }

  #Nolang{
   display: none;
   background-color: transparent;
   color: white;
  }


  /*********************       Traveller Intro      *********************/


  .plane1 ,.plane2{
    display: none;
  }
  .TravellerGirl {
    display: none;
  }
  .Intro {
    padding-left: 20px;
    width: min-content;
    justify-content: center;
    align-items: center;
    width: 360px;
    z-index: 2000;
  }

  #Tab::after {
    content: none;
  }
  .Traveller{
    margin-top: 0px;
  }

  .Travell_Heading {
    letter-spacing: 3px;
    line-height: normal;
    font-size: 40px;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    margin-left: -85px;
  }

  .Travell_Description {
    margin-top: -100px;
    text-align: center;
  }


  /*********************     B E S T   S E R V I C E S      *********************/


  .service {
    display: flex;
    flex-direction: column;
  }
  .Flight_Design {
    display: none;
  }

  .div {
    height: 250px;
  }
  .Best_Services {
    margin-left: 30px;
  }


  /*********************  T O P    D E S T I N A T I O N S  *********************/


  .Countries {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  hr.new1 {
    border-top: 1px solid black;
  }
  
  .Top_Destinations {
    font-size: 40px;
    align-self: center;
    justify-content: center;
  }
  .decor{
    display: none;
  }




  /*********************     N E X T  T R I P    *********************/



  .Next_Trip {
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    overflow-y: hidden;
  }
  .Cate h3 {
    text-align: start;
  }
  .Book {
    float: left;
    margin-left: 10px;
    width: 100vw;
    height: max-content;
  }
  .tripGreece {
    display: none;
  }

  /* ******************   T E S T I M O N I A L S   ********************8 */

  .PeopleTestimonials {
    display: flex;
    flex-direction: column;
    width: max-content;
    margin-left: 10px;
    align-items: center;
    text-align: center;
  }
  .PeopleSay {
    align-items: start;
    float: left;
    margin-left: -30%;
  }
  .SayAboutUs h3 {
    text-align: center;
  }
  #Person1,
  #Person2,
  #Person3 {
    display: block;
    height: max-content;
    margin-bottom: 30px;
    align-self: center;
  }
  #Person1 p,
  #Person2 p,
  #Person3 p {
    text-align: center;
  }
  #Person2 p,
  #Person3 p {
    text-align: center;
  }

  #Person1 h2,
  #Person2 h2,
  #Person3 h2 {
    margin-top: -30px;
    text-align: center;
  }
  #Person2 h2,
  #Person3 h2 {
    margin-top: -10px;
    text-align: center;
  }
  #Person1 h4,
  #Person2 h4,
  #Person3 h4 {
    text-align: center;
  }

  .photo {
    width: 80px;
    height: 90px;
    text-align: center;
  }
  .Arrow {
    display: none;
  }



  /*********************      A I R L I N E S     *********************/



  #Airlines {
    display: flex;
    flex-direction: column;
    margin-top: -100px;
    margin-left: 100px;
  }
  .airline {
    position: absolute;
    height: auto;
  }
  .airlin1 {
    justify-content: space-around;
    margin-top: 100px;
  }
  .airlin2 {
    justify-content: space-around;
    margin-top: 80px;
  }
  .airlin3 {
    justify-content: space-around;
    margin-top: 30px;
  }
  .airlin4 {
    justify-content: space-around;
    margin-top: 110px;
  }
  .airlin5 {
    justify-content: space-around;
    margin-top: 70px;
  }



  /*********************      S U B S C R I B E     *********************/


  .Subscribe {
    margin-top: -20px;
    width: 370px;
    margin-left: 0px;
    height: 80vh;
  }

  .Email{
    margin-top: 80px;
    position: absolute;
    left: 0px;
  }

  footer {
    margin-top: 670px;
    background-color: #dbd3d3;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-bottom: 0px;
    height: max-content;
    }
  .SocialMedia {
    margin-top: 20px;
  }
  footer h1{
    font-size: 70px;
  }
  footer h5{
    font-size: 20px;
  }
  footer h2{
    font-size: 30px;
  }
  footer h4{
    font-size: 20px;
  }
  footer h3{
    font-size: 25px
  }

  .RightsReserved {
    margin-top: 10px;
    background-color: #4b4848;
    margin-bottom: 0px;
    color: white;
  }
}
